<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530982907543-pm0o56pdvcqnkfp4prtugij2vd5f03qp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530982907543-pm0o56pdvcqnkfp4prtugij2vd5f03qp</string>
	<key>API_KEY</key>
	<string>AIzaSyAw5JoDy_mI_nFglTw2w0GYIi9Z775NpGw</string>
	<key>GCM_SENDER_ID</key>
	<string>530982907543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.funidea.onPhysicaleducation</string>
	<key>PROJECT_ID</key>
	<string>onpeproject</string>
	<key>STORAGE_BUCKET</key>
	<string>onpeproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530982907543:ios:2aa3a9ac92fbc8aa94c3d2</string>
</dict>
</plist>