<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.funidea.newonpe">

    <application
        android:allowBackup="true"
        android:icon="@drawable/image_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".GlobalApplication"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.funidea.newonpe.page.notice.show_notice_message_Activity"></activity>
        <activity android:name="com.funidea.newonpe.page.notice.notice_main_home_Activity" />
        <activity android:name=".page.main.ExerciseRecordPage" />
        <activity android:name="com.funidea.newonpe.page.home.class_file_open_webview_Activity" />
        <activity android:name="com.funidea.newonpe.page.home.class_unit.class_detail_unit.class_detail_unit_Activity" />
        <activity android:name="com.funidea.newonpe.page.home.show_photo_Activity" />
        <activity android:name="com.funidea.newonpe.page.home.class_community_board.class_community_edit_Activity" />
        <activity android:name="com.funidea.newonpe.page.message.class_message_edit_Activity" />
        <activity android:name="com.funidea.newonpe.page.faq.faq_answer_Activity" />
        <activity android:name="com.funidea.newonpe.page.message.class_message_write_Activity" />
        <activity android:name="com.funidea.newonpe.page.youtube.after_school_youtube_content_Activity" />
        <activity
            android:name="com.funidea.newonpe.page.login.SNSLoginPage"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentCompat">

        </activity>

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="oauth"
                    android:scheme="kakaoae7f17bd4bbf675f593937ddae719269" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.funidea.newonpe.page.setting.agreement_main_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.funidea.newonpe.page.setting.terms_of_user_information_agreement_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.funidea.newonpe.page.setting.PersonalAgreementPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.funidea.newonpe.page.management.self_class_result_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.funidea.newonpe.page.home.class_community_board.class_community_write_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.funidea.newonpe.page.faq.faq_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.funidea.newonpe.page.message.class_message_answer_Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.funidea.newonpe.page.login.LoginPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page.pose.GetDateActivity_kt" />

        <activity
            android:name="com.funidea.newonpe.page.pose.PoseActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".page.juggling.JugglingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.funidea.newonpe.page.management.self_class_select_exercise_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.funidea.newonpe.page.home.class_community_menu_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.funidea.newonpe.page.youtube.after_school_content_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.funidea.newonpe.page.management.self_class_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.funidea.newonpe.page.message.class_message_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.funidea.newonpe.page.home.class_home.class_home_Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.funidea.newonpe.page.setting.SettingPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.funidea.newonpe.page.setting.my_page_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.funidea.newonpe.page.login.ChangePasswordPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.funidea.newonpe.page.login.EmailAuthenticationPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.funidea.newonpe.page.login.MemberDetailedInfoPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.funidea.newonpe.page.login.SearchPasswordPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.funidea.newonpe.page.login.SearchIDPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.funidea.newonpe.page.home.class_result.class_result_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.funidea.newonpe.page.main.MainHomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.funidea.newonpe.page.home.class_unit.class_unit_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.funidea.newonpe.page.home.class_community_board.class_community_board_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.funidea.newonpe.page.home.class_community_board.class_community_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.funidea.newonpe.page.login.MemberJoinPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.funidea.newonpe.page.login.EmailLoginPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".page.login.SMSAuthPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity android:name=".page.main.MainHomePage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity android:name=".page.login.ProfileRegistrationPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 사진 접근 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-sdk tools:overrideLibrary="androidx.camera.camera2, androidx.camera.core,androidx.camera.view, androidx.camera.lifecycle" />

</manifest>